[submodule "wolfssl"]
	path = wolfssl
	url = git@github.com:Mudderschiff/wolfssl.git
[submodule "reference/electionguard-python"]
	path = reference/electionguard-python
	url = https://github.com/Election-Tech-Initiative/electionguard-python
